// Colors
$color-bg: #424242ff;
$color-text: lighten(#97a7b3ff, 30%);
$color-headings: #f4d35eff;
$color-secondary: #b07156ff;
$color-success: #69a297ff;

// Fonts
$font-headings: 'Bangers', cursive;
$font-text: 'Montserrat', sans-serif;

// Sizes
$size-wrap: 1200px;