// Colors
$color-bg: #424242ff;
$color-bg-transparent: #424242dd;
$color-text: #fff;
$color-headings: #f4d35eff;
$color-secondary: #b07156ff;
$color-success: #69a297ff;

// Fonts
$font-headings: 'Underdog', cursive;
$font-text: 'Montserrat', sans-serif;

// Sizes
$size-wrap: 1200px;
$size-header: 7.5rem;
$size-spacing: 4rem;

// responsive breakpoints
$breakpoint: 780px;