@import "~src/sass/variables";

.header {
  background: $color-bg;
  color: $color-text;
  &--wrapper {
    height: $size-header;
    max-width: $size-wrap;
    margin: auto;
    padding: 0 3%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: $color-headings;
  }
  &--title{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    img {
      height: 3rem;
      margin-right: 0.5em;
    }
    h1 {
      font-size: 2.5rem;
    }
  }
  &--nav-toggle {
    font-size: 2rem;
    cursor: pointer;
  }
}
.navigation {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: $color-bg-transparent;
  box-shadow: 0 0 15px #333;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3em;
  text-align:center;
  opacity: 0;
  &__visible {
    width: 350px;
    opacity: 1;
  }
  &--close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
    padding: 1em;
  }
  h2 {
    font-family: $font-headings;
    font-size: 2em;
  }
  ul {
    list-style: none;
    padding: 0;
    font-size: 1.3em;
  }
  li {
    margin-top: 0.7em;
  }
  a{
    transition: 0.3s;
    &:hover {
      color: $color-headings;
    }
  }
}