<header class="header">
  <div class="header--wrapper">
    <div class="header--title">
      <img src="./assets/images/pickaxe.svg" alt="logo de Piocheur de Bobines">
      <h1><a routerLink="">Piocheur de Bobines</a></h1>
    </div>
    <div class="header--nav-toggle" (click)="onOpenNav()">
      &#9776;
    </div>
  </div>
  <nav id="navigation" class="navigation">
    <a href="#" class="navigation--close" (click)="onCloseNav($event)">&times;</a>
    <div class="navigation--wrapper">
      <h3>Genre</h3>
      <ul>
        <li><a routerLink="/genre/Action/1" (click)="onCloseNav($event)">Action</a></li>
        <li><a routerLink="/genre/Animation/1" (click)="onCloseNav($event)">Animation</a></li>
        <li><a routerLink="/genre/Aventure/1" (click)="onCloseNav($event)">Aventure</a></li>
        <li><a routerLink="/genre/Comédie/1" (click)="onCloseNav($event)">Comédie</a></li>
        <li><a routerLink="/genre/Drame/1" (click)="onCloseNav($event)">Drame</a></li>
        <li><a routerLink="/genre/Romance/1" (click)="onCloseNav($event)">Romance</a></li>
        <li><a routerLink="/genre/Science-Fiction/1" (click)="onCloseNav($event)">Science Fiction</a></li>
        <li><a routerLink="/genre/Thriller/1" (click)="onCloseNav($event)">Thriller</a></li>
        <li><a routerLink="/genre/Western/1" (click)="onCloseNav($event)">Western</a></li>
      </ul>
    </div>
  </nav>
</header>
