<header>
  <div class="wrapper">
    <div class="header--title">
      <img src="./assets/images/pickaxe.svg" alt="logo de Piocheur de Bobines">
      <h1>Piocheur de Bobines</h1>
    </div>
    <div class="header--nav-btn">
      &#9776;
    </div>
  </div>
  <nav id="navigation" class="navigation">
    <a href="#" class="navigation--close">&times;</a>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Clients</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>
