<main class="main">
  <button class="main--gobackbtn" (click)="onGoBack()"><img src="./assets/images/arrow-left.svg" alt=""> Retour</button>
  <div class="main--wrapper">
    <img
      class="main--image"
      loading="lazy"
      [src]="movie.backdrop_path === null ? './assets/images/no-image.jpg' : 'https://image.tmdb.org/t/p/w780/' + movie.backdrop_path"
      alt="Image du film {{movie.title}}">
    <div class="main--infos">
      <h2 class="main--infos--title">{{movie.title}}</h2>
      <h3 class="main--infos--subtitle">{{movie.tagline}}</h3>
      <p class="main--infos--ranking">
        <img src="./assets/images/star-solid.svg" alt="">
        {{movie.vote_average}} / 10
        <img src="./assets/images/star-solid.svg" alt="">
      </p>
      <p class="main--infos--duration"><strong>Durée :</strong> {{movie.runtime}} min</p>
      <p class="main--infos--date"><strong>Sorti le :</strong> {{movie.release_date | date:'dd / MM / yyyy'}}</p>
      <p class="main--infos--genres"><strong>Genres :</strong><span *ngFor="let genre of movie.genres"> {{genre.name}}</span></p>
      <p class="main--infos--original"><strong>Titre original :</strong> {{movie.original_title}} ({{movie.original_language}})</p>
      <p><strong>Synopsis :</strong></p>
      <p class="main--infos--overview">{{movie.overview}}</p>
    </div>
  </div>
  <button class="main--gobackbtn" (click)="onGoBack()"><img src="./assets/images/arrow-left.svg" alt=""> Retour</button>
</main>
