@import "~src/sass/variables";

.main {
  background: lighten($color-bg, 20%);
  min-height: calc(100vh - #{$size-header} - 2*#{$size-spacing});
  position: relative;
  padding: $size-spacing 0;
  &--gobackbtn {
    // Positionnement des boutons
    position: absolute;
    left: 1rem;
    &:first-of-type {
      top: 1rem;
    }
    &:last-of-type {
      bottom: 1rem;
    }
    // Positionnement du contenu des boutons
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    img {
      height: 1.5em;
      margin-right: 0.5em;
    }
    // Mise en forme des boutons
    cursor: pointer;
    background: lighten($color-headings, 15%);
    border: none;
    padding: 0.3em 1.5em;
    border-radius: 5px;
    transition: 300ms;
    &:hover {
      background: $color-headings;
      box-shadow: 0 0 10px #333;
    }
  }
  &--wrapper {
    @media screen and (min-width: $breakpoint){
      padding: 0 3%;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto;
      justify-items: center;
      grid-template-areas: 
      "img infos"
      "trailer trailer";
    }
  }
  &--image {
    grid-area: img;
    align-self: center;
    width: 100%;
    max-width: 780px;
  }
  &--infos {
    grid-area: infos;
    padding: 1em;
    strong {
      font-weight: bolder;
      color: $color-text;
    }
    p {
      margin: 0.7em 0;
      font-size: 1rem;
    }
    &--title {
      margin: 0;
      font-family: $font-headings;
      color: $color-headings;
      text-align: center;
    }
    &--subtitle {
      margin: 0.3em 0;
      font-family: $font-headings;
      color: $color-headings;
      text-align: center;
    }
    
    &--ranking {
      color: $color-text;
      text-align: center;
      img {
        height: 1em;
        color: $color-headings;
      }
    }
    &--genres {
      span::after {
        content: ", ";
      }
      span:last-child::after {
        content: "";
      }
    }
  }
  &--trailers {
    grid-area: trailer;
    justify-self: center;
    width: 100%;
    max-width: 1024px;
    
    h4 {
      font-size: 1rem;
      font-weight: bolder;
      color: $color-text;
      padding: 0 0 1em 1em;
      margin: 0;
      @media screen and (min-width: $breakpoint){
        padding: 1em 0 1em 0;
      }
    }
    &--container {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    
  }
}