@import "~src/sass/variables";
.movie {
  margin: 0;
  &--image {
    box-shadow: 0 0 10px #444;
    width: 100%;
  }
  &--title {
    margin-bottom: 0;
    color: $color-text;
  }
  &--year {
    margin: 0;
    font-style: italic;
    color: $color-text;
  }
  &--figcaption {
    position: relative;
  }
  &--star {
    position: absolute;
    height: 3em;
    top: -2.5em;
    right: 1em;
    transform: translate(50%, -50%);
  }
  &--rate {
    position: absolute;
    top: -2.5em;
    right: 1em;
    transform: translate(40%, -50%);
    margin: 0;
    font-size: 0.9em;
  }
}