<main class="main">
  <form  class="main--search" [formGroup]="searchMovieForm" (ngSubmit)="onSearchSubmit()">
    <label for="search" aria-label="Rechercher une bobine">
      <img src="./assets/images/search-solid.svg" alt="logo de loupe">
      <input type="text" id="search" placeholder="Rechercher une bobine..." formControlName="searchTerm">
    </label>
  </form>
  <div class="main--list">
    <h2>{{pageTitle}}</h2>
    <div class="main--list--wrapper">
      <div class="main--list--movie" *ngFor="let movie of movies">
        <app-movie-preview
          [movie]="movie">
        </app-movie-preview>
      </div>
    </div>
    
  </div>
  <div class="main--page">
    <ul>
      <li *ngIf="page !== 1">
        <a routerLink="{{pageBaseUri}}{{page-1}}">prec.</a>
      </li>
      <li *ngFor="let pageNumber of pageNumbers" [ngClass]="pageNumber === page ? 'currentPage' : ''">
        <a routerLink="{{pageBaseUri}}{{pageNumber}}">{{pageNumber}}</a>
      </li>
      <li *ngIf="page !== totalPages">
        <a routerLink="{{pageBaseUri}}{{page+1}}">suiv.</a>
      </li>
    </ul>
  </div>
</main>
