@import "~src/sass/variables";
.main {
  background: lighten($color-bg, 20%);
  min-height: calc(100vh - 5.9rem);

  &--search {
    padding: 1em 3%;
    label {
      max-width: 600px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin: auto;
      padding: 0.5em 1em;
      border-radius: 2em;
      box-shadow: 0 0 10px #444;
      background: #fff;
    }
    img {
      height: 2em;
      margin-right: 0.5em;
    }
    input {
      background: none;
      border: none;
      width: 100%;
    }
  }
  &--list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    &--movie {
      width: 200px;
      text-align: center;
      transition: transform 300ms;
      &:hover {
        transform: scale(1.05);
      }
      &--image {
        box-shadow: 0 0 10px #444;
      }
      &--title {
        margin-bottom: 0;
        color: $color-headings;
      }
      &--year {
        margin: 0;
        font-style: italic;
        color: lighten($color-headings, 20%);
      }
    }
  }
  &--page {
    padding: 2em 0;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: baseline;
    }
    li {
      margin: 0 0.3em;
      color: $color-headings;
      &:hover {
        text-decoration: underline;
      }
    }
    .currentPage {
      color: darken($color-headings, 30%);
      text-decoration: underline;
      font-size: 1.3em;
    }
  }
  &--loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $color-bg-transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    .lds-ring {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-ring div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      margin: 8px;
      border: 8px solid $color-headings;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: $color-headings transparent transparent transparent;
    }
    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s;
    }
    @keyframes lds-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
.hidden {
  display: none;
}