<main class="main">
  <form  class="main--search" [formGroup]="searchMovieForm" (ngSubmit)="onSearchSubmit()">
    <label for="search" aria-label="Rechercher une bobine">
      <img src="./assets/images/search-solid.svg" alt="logo de loupe">
      <input type="text" id="search" placeholder="Rechercher une bobine..." formControlName="searchTerm">
    </label>
  </form>
  <div class="main--list">
    <h2>{{pageTitle}}</h2>
    <div class="main--list--wrapper">
      <figure class="main--list--movie" *ngFor="let movie of movies">
        <img class="main--list--movie--image" loading="lazy" [src]="movie.poster_path === null ? './assets/images/no-poster.jpg' : 'https://image.tmdb.org/t/p/w200/' + movie.poster_path" alt="Affiche du film {{movie.title}}">
        <figcaption>
          <p class="main--list--movie--title">{{movie.title}}</p>
          <p class="main--list--movie--year">{{movie.release_date | date: 'y'}}</p>
        </figcaption>
      </figure>
    </div>
    
  </div>
  <div class="main--page">
    <ul>
      <li *ngIf="page !== 1">
        <a routerLink="{{pageBaseUri}}{{page-1}}">prec.</a>
      </li>
      <li *ngFor="let pageNumber of pageNumbers" [ngClass]="pageNumber === page ? 'currentPage' : ''">
        <a routerLink="{{pageBaseUri}}{{pageNumber}}">{{pageNumber}}</a>
      </li>
      <li *ngIf="page !== totalPages">
        <a routerLink="{{pageBaseUri}}{{page+1}}">suiv.</a>
      </li>
    </ul>
  </div>
  <div id="loader" class="main--loader hidden">
    <div class="lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</main>
